body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

.bills {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.bill-link {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.bill-link:hover {
    background-color: #0056b3;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    margin: 20px auto;
}

label {
    font-weight: bold;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 20px; 
    color: #007BFF; text-decoration: none; }


    
.back-link:hover { text-decoration: underline; }
    
    
#billAmount, #waterBillAmount, #landlineBillAmount { font-size: 18px; font-weight: bold; color: #333; }